@media (max-width: 768px) {
    .visible{
      display: none !important;
      visibility: hidden !important;
    }

    .hidden{
        display: flex !important;
        visibility: visible !important;
    }
    
    .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.9);
      text-align: left;
      justify-content: center;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      z-index: 999;
      
      /* Ocultar inicialmente */
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      
      /* Agregamos transición suave */
      transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
    }

    .nav-links a {
        width: 100%;
        display: block;
        /* text-align: center; */
        margin: auto 0 0 5% !important;
        /* padding: 20px; */
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    /* Ajustes al navbar cuando está activo */
    .navbarr {
        position: fixed;
        width: 100%;
        z-index: 1000;
        padding: 0px 20px;
        background: transparent;
        justify-content: center !important;
    }

    .logo img {
      width: 55%;
    }

    .contact-nav-list {
      top: 55%;
      left: 27%;
    }
    /* Botón de menú */
    .menu-toggle {
        display: block;
        z-index: 1100;
        font-size: 28px;
        color: var(--white);
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }

    /* Efecto de rotación del icono */
    .menu-toggle.active i {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }

    /* Cambiar el icono a una X */
    .menu-toggle.active i::before {
        content: "\f00d"; /* FontAwesome "X" */
    }
    .menu-toggle i {
        font-size: 24px;
        color: var(--white);
    }
    
    .login-btn-content {
      width: 100%;
    }

    .login-form {
      flex-direction: column;
      gap: 15px !important;
    }

    .btn-login {
      width: 100% !important;
    }

    .login-user input, .login-password input {
      width: 100% !important;
      background-color: var(--black);
    }

    .hero-index {
      flex-direction: column !important;
      height: max-content;
    }

    .tittles-index {
      text-align: center !important;
    }
    
  }


@media (min-width: 1450px) {
    .visible{
      display: flex !important;
      visibility: visible !important;
    }

    .hidden{
        display: none !important;
        visibility: hidden !important;
    }

}